@import "_colors.less";

html {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.registrationPage {
  display: flex;
  height: 100%;
  flex-direction: column;
  .registrationPageContent{
    flex: 1;
  }
}

//INPUTS
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff !important;
  border-color: @primary-color !important;
  background-color: @primary-color !important;
}

// FOR CHECKBOX
.custom-checkbox .custom-control-input:checked~.custom-control-label::before, .custom-checkbox .custom-control-label::before {
  border-radius: 0 !important;
}

.reportingHubModalDialog{
  min-width: 700px;
  .reportingHubModalContent {
    padding: 20px;
  }
  .reportingHubModalHeader {
    border: none;
  }
  .reportingHubModalBody {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 4px 2px -2px rgb(238,238,238);
  }
  .reportingHubModalFooter {
    border: none;
  }
}

.reportingHubButton {
  background-color: @primary-color;
  border: 1px solid @primary-color;
  color: #FFFFFF;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 4px 75px;
  line-height: 40px;
  width: 100%;
  &:hover {
    background-color: #FFFFFF;
    color: @primary-color;
    border: 1px solid @primary-color;
  }
}

.priceRow {
  background-color: @table-row;
  border-top: 1px solid @border;
  &:last-of-type {
    border-bottom: 1px solid @border;
  }
}

.reportingHubLink {
  color: @primary-color;
  &:hover {
    color: @primary-color;
  }
}

.reportingHubInput {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  width: 100%;
  height: 50px;
  box-shadow: none;
  outline: none;
  padding-left: 30px;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/assets/bg_image.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media (max-width: 575px) {
    height: 35%;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 10px 25px;
      color: black;
      background-color: #DDDDDD;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #555555;
        color: #FFFFFF;
      }
    }
  }
  .reportingHubHeader {
    font-size:50px;
    font-family: 'Poppins', sans-serif;
    @media (max-width: 575px) {
      font-size:35px;
    }
  }
}

.registrationFormOuter {
  margin:auto;
  margin-bottom: 60px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin-top: -115px;
  @media (min-width: 576px) {
    max-width: 100%;
  }
  @media (max-width: 575px) {
    margin-top: 0;
  }
  @media (min-width: 768px) {
    max-width: 740px;
  }
  @media (min-width: 992px) {
    max-width: 890px;
  }
  @media (min-width: 1200px) {
    max-width: 1040px;
  }
  @media (min-width: 1400px) {
    max-width: 1240px;
  }

  .reportingHubFormContainer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 17px 0px rgba(26, 38, 74, 0.05);
    // box-shadow: 0px 7px 17px 0px rgb(26 38 74 / 5%);
    padding: 40px;
    border: 1px solid #e9edfd;
    @media (max-width: 575px) {
      box-shadow: none;
      border: none;
    }
    .rhFormCheckboxLabel {
      font-size: 13px;
    }
  }
}


.reportingHubFooter {
  // margin-top: 60px;
  background-color: #2a2a2a;
  padding: 118px 0;
  font-family: 'Open Sans', sans-serif;
  .reportingHubLogo {
    margin-top: 70px;
    margin-bottom: 30px;
  }
  .footerHeader {
    padding-top: 10px;
    color: #FFFFFF;
    font-size: 17.5px;
    padding-bottom: 33px;
    font-weight: 600;
  }
  .footerSocialLink {
    color: rgba(255, 255, 255, 0.3);
    a {
      color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        color: #FFFFFF;
      }
    }
    .socialSection {
      margin-bottom: 15px;
    }
  }
  .footerIconContainer {
    font-size: 14px;
    padding-right: 18px;
    color: rgba(255, 255, 255, 0.3);
    a {
      color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
      &:hover {
        color: #FFFFFF;
      }
    }
  }
  ul {
    padding-left: 20px;
    @media (max-width: 575px) {
      padding-left: 0;
    }
  }
  ul, li {
    list-style: none;
    color: #cacaca;
  }
  li {
    padding: 10px 0px 0px;
    font-size: 14px;
    a {
      text-decoration: none;
      color: #cacaca;
      &:hover {
        color: #FFF;
      }
    }
    ul {
      @media (max-width: 575px) {
        padding-left: 20px;
      }
    }
  }
}

.footerBottom {
  background-color: #242424;
  padding: 30px 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  a {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    &:hover {
      color: #FFFFFF;
    }
  }
  .privacyTermsSection {
    text-align: right;
    @media (max-width: 575px) {
      text-align: left;
    }
  }
}
