.creditCardForm {
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  .creditCardNumberInput {
    padding-left: 15px;
  }
  .creditCardInput {
    border: none;
  }
  .creditCardInput:focus {
    outline: none;
    box-shadow: none;
  }
}
