@import "_colors.less";

.thankYouContainer {
  // background-color: #F7F8FB;
  background-color: #e8e9eb;
  font-family: 'Poppins', sans-serif;
  width: 100%;

  .thankYouIconOuter {
    margin: 150px auto 50px auto;
    @media (max-width: 767px) {
      margin: 40px auto;
    }
    .thankYouIconContainer {
      color: #74AB36;
      border: 8px solid #74AB36;
      border-radius: 50%;
      @media (max-width: 767px) {
        border: 5px solid #74AB36;
      }
      .thankYouIcon {
        color: #74AB36;
        font-size: 50px;
        padding: 20px;
        @media (max-width: 767px) {
          font-size: 30px;
        }
      }
    }
  }
  .thankYouContent {
    color: #333;
    .thankYouTitle {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        font-size: 26px;
      }
    }
    .thankYouCopy {
      font-size: 18px;
      margin-bottom: 30px;
      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
  .priceContainer {
    background-color: #FFF;
    padding: 20px 30px;
    font-size: 18px;
    @media (max-width: 767px) {
      padding: 12px 24px;
      font-size: 16px;
    }
  }
  .priceTotalsContainer {
    margin-bottom: 150px;
    @media (max-width: 767px) {
      margin-bottom: 70px;
    }
    .priceValue {
      padding-right: 30px;
    }
  }
}
