html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.reportingHubModalDialog {
  min-width: 700px;
}
.reportingHubModalDialog .reportingHubModalContent {
  padding: 20px;
}
.reportingHubModalDialog .reportingHubModalHeader {
  border: none;
}
.reportingHubModalDialog .reportingHubModalBody {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-shadow: 0 4px 2px -2px #eeeeee;
          box-shadow: 0 4px 2px -2px #eeeeee;
}
.reportingHubModalDialog .reportingHubModalFooter {
  border: none;
}
.reportingHubButton {
  background-color: #b918a8;
  border: 1px solid #b918a8;
  color: #FFFFFF;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 4px 75px;
  line-height: 40px;
  width: 100%;
}
.reportingHubButton:hover {
  background-color: #FFFFFF;
  color: #b918a8;
  border: 1px solid #b918a8;
}
.priceRow {
  background-color: #f8fafc;
  border-top: 1px solid #e2e5e7;
}
.priceRow:last-of-type {
  border-bottom: 1px solid #e2e5e7;
}
.reportingHubLink {
  color: #b918a8;
}
.reportingHubLink:hover {
  color: #b918a8;
}
.reportingHubInput {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  padding-left: 30px;
}
.hero-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../public/assets/bg_image.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/assets/bg_image.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 575px) {
  .hero-image {
    height: 35%;
  }
}
.hero-image .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
}
.hero-image .hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #DDDDDD;
  text-align: center;
  cursor: pointer;
}
.hero-image .hero-text button:hover {
  background-color: #555555;
  color: #FFFFFF;
}
.hero-image .reportingHubHeader {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
}
@media (max-width: 575px) {
  .hero-image .reportingHubHeader {
    font-size: 35px;
  }
}
.registrationFormOuter {
  margin: auto;
  margin-bottom: 60px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin-top: -115px;
}
@media (min-width: 576px) {
  .registrationFormOuter {
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .registrationFormOuter {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .registrationFormOuter {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .registrationFormOuter {
    max-width: 890px;
  }
}
@media (min-width: 1200px) {
  .registrationFormOuter {
    max-width: 1040px;
  }
}
@media (min-width: 1400px) {
  .registrationFormOuter {
    max-width: 1240px;
  }
}
.registrationFormOuter .reportingHubFormContainer {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 17px 0px rgba(26, 38, 74, 0.05);
          box-shadow: 0px 7px 17px 0px rgba(26, 38, 74, 0.05);
  padding: 40px;
  border: 1px solid #e9edfd;
}
@media (max-width: 575px) {
  .registrationFormOuter .reportingHubFormContainer {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
}
.registrationFormOuter .reportingHubFormContainer .rhFormCheckboxLabel {
  font-size: 13px;
}
.reportingHubFooter {
  background-color: #2a2a2a;
  padding: 118px 0;
  font-family: 'Open Sans', sans-serif;
}
.reportingHubFooter .reportingHubLogo {
  margin-top: 70px;
  margin-bottom: 30px;
}
.reportingHubFooter .footerHeader {
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 17.5px;
  padding-bottom: 33px;
  font-weight: 600;
}
.reportingHubFooter .footerSocialLink {
  color: rgba(255, 255, 255, 0.3);
}
.reportingHubFooter .footerSocialLink a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}
.reportingHubFooter .footerSocialLink a:hover {
  color: #FFFFFF;
}
.reportingHubFooter .footerSocialLink .socialSection {
  margin-bottom: 15px;
}
.reportingHubFooter .footerIconContainer {
  font-size: 14px;
  padding-right: 18px;
  color: rgba(255, 255, 255, 0.3);
}
.reportingHubFooter .footerIconContainer a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.reportingHubFooter .footerIconContainer a:hover {
  color: #FFFFFF;
}
.reportingHubFooter ul {
  padding-left: 20px;
}
@media (max-width: 575px) {
  .reportingHubFooter ul {
    padding-left: 0;
  }
}
.reportingHubFooter ul,
.reportingHubFooter li {
  list-style: none;
  color: #cacaca;
}
.reportingHubFooter li {
  padding: 10px 0px 0px;
  font-size: 14px;
}
.reportingHubFooter li a {
  text-decoration: none;
  color: #cacaca;
}
.reportingHubFooter li a:hover {
  color: #FFF;
}
@media (max-width: 575px) {
  .reportingHubFooter li ul {
    padding-left: 20px;
  }
}
.footerBottom {
  background-color: #242424;
  padding: 30px 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
}
.footerBottom a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.footerBottom a:hover {
  color: #FFFFFF;
}
.footerBottom .privacyTermsSection {
  text-align: right;
}
@media (max-width: 575px) {
  .footerBottom .privacyTermsSection {
    text-align: left;
  }
}
