<div class="modal fade reportingHubModal" id="reportingHubPrivacy" tabindex="-1" role="dialog" aria-labelledby="reportingHubPrivacyLabel" aria-hidden="true">
  <div class="modal-dialog reportingHubModalDialog" role="document">
    <div class="modal-content reportingHubModalContent">
      <div class="modal-header reportingHubModalHeader">
        <h3 class="modal-title font-weight-bold" id="reportingHubPrivacyLabel">Privacy Policy</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body reportingHubModalBody">
        <h5>Effective as of: January 1st, 2021</h5>
        <br>
        <p>
          Your privacy is extremely important to us. To better protect you, we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used.
        </p>
        <p>
          This Privacy Policy relates to information collected by Shift Analytics Inc. Doing business as The Reporting Hub (referred to in this Privacy Policy as "The Reporting Hub" "we" or "us" or "our") through your use of our website and our Services, features, and information available on our website (which are collectively referred to in this Privacy Policy as the "The Reporting Hub Service").
        </p>
        <br>

        <h5>Scope of this Privacy Policy</h5>
        <br>
        <p>
          Please be aware that this Privacy Policy does not govern all the information The Reporting Hub may process. Our commitment to customers and service providers is governed by a separate Data Protection Addendum. This Privacy Policy is also incorporated into and governed by our Terms of Use.
        </p>
        <p>
          Our commitments to employees are governed by our internal employment policies.
        </p>
        <p>
          In all instances we are committed to transparency with our customers, employees, and to protecting your data privacy.
        </p>
        <br>

        <h5>What Information do we Collect?</h5>
        <br>
        <p>
          You will be required to establish an account in order to take advantage of certain features of the Reporting Hub Service. If you wish to establish an account, you will be required to provide us with information (including personally identifiable information and non-personally identifiable information). In addition, we may obtain your personally identifiable information from you if you identify yourself to us by sending us an e-mail with questions or comments.
        </p>
        <p>
          Depending on your use of the Reporting Hub Service, we collect two types of information:
        </p>
        <ul>
          <li>
            Personally identifiable information and non-personally identifiable information.
          </li>
        </ul>
        <br>

        <h5>Personally Identifiable Information</h5>
        <br>
        <p>
          Personally identifiable information identifies you or can be used to identify or contact you. Examples of personally identifiable information include your name, IP address, company name, job title, address, e-mail address, telephone number, and billing and credit card information.
        </p>
        <br>

        <h5>Non-Personally Identifiable Information</h5>
        <br>
        <p>
          Non-personally identifiable information is information, any single item of which, by itself, cannot be used to identify or contact you, including demographic information (such as age, profession, company industry, gender, current location, or zip code), IP addresses , browser types, domain names, and statistical data involving the use of the Reporting Hub Service. Certain non-personally identifiable information may be considered a part of your personally identifiable information if it were combined with other identifiers (for example, combining your zip code with your street address) in a way that enables you to be identified. But the same pieces of information are considered non-personally identifiable information when they are taken alone or combined only with other non-personally identifiable information (for example, your account preferences).
        </p>
        <br>

        <h5>Why do we Need your Personal Data?</h5>
        <p>
          We do not sell any data, including your personal data. We will only process your personal data in accordance with applicable data protection and privacy laws. We need certain personal data in order to provide you with access to The Reporting Hub. If you registered with us, you will have been asked to check a box indicating your agreement to provide this data in order to access our services. This consent provides us with the legal basis we require under applicable law to process your data. You maintain the right to withdraw such consent at any time. If you do not agree to our use of your personal data in line with this policy, please do not use our platform.
        </p>
        <br>

        <h5>Information we collect automatically when you use the Services:</h5>
        <br>
        <p>
          We collect information about you when you use our Services, including browsing our websites and taking certain actions within the Services.
        </p>
        <p>
          Device and Connection Information: We collect information about your computer, phone, tablet, or other devices you use to access the Services. This device information includes your connection type and settings when you install, access, update, or use our Services. We also collect information through your device about your operating system, browser type, IP address, URLs of referring/exit pages, device identifiers, and crash data. We use your IP address and/or country preference to approximate your location to provide you with a better Service experience. How much of this information we collect depends on the type and settings of the device you use to access the Services.
        </p>
        <p>
          Cookies and Other Tracking Technologies: The Reporting Hub and our third-party partners, such as our advertising and analytics partners, use cookies and other tracking technologies (e.g., web beacons, device identifiers and pixels) to provide functionality and to recognize you across different Services and devices. For more information, please see our Cookies and Tracking policy, which includes information on how to control or opt out of these cookies and tracking technologies.
        </p>
        <p>
          Log files: We collect non-personally identifiable information through our Internet log files, which record data such as user IP addresses, browser types, domain names, and other anonymous statistical data involving the use of the Reporting Hub Service. This information may be used to analyze trends, to administer the Reporting Hub Service, to monitor the use of the Reporting Hub Service, and to gather general demographic information. We may link this information to personally identifiable information for these and other purposes, such as personalizing your experience on the Reporting Hub Service and evaluating the Reporting Hub Service in general.
        </p>

        <br>
        <h5>Information we receive from other sources:</h5>
        <p>
          We receive information about you from other Service users, from third party services, and from our business and channel partners.
        </p>
        <p>
          The following data is captured and stored within the Reporting Hub’s Licence manager application for the purposes of Client Subscription management and Access.
        </p>
        <ul>
          <li>
            DNS Name
          </li>
          <li>
            Query ID (GUID)
          </li>
          <li>
            Subscription expiry date
          </li>
          <li>
            Subscription record status
          </li>
          <li>
            Name
          </li>
          <li>
            Username
          </li>
          <li>
            User Email
          </li>
          <li>
            Company Name
          </li>
        </ul>
        <p>
          The following data is captured and stored within the Reporting Hub Service within the individual client’s Azure environment exclusively.  This data is not accessible by any external users including the Reporting Hub unless specifically authorized by the client for deployment or support services.
        </p>
        <ul>
          <li>
            Configuration Database stores the following data:
          </li>
          <ul>
            <li>
              Organization
            </li>
            <li>
              Query ID
            </li>
            <li>
              DNS Name
            </li>
            <li>
              Azure subscription ID
            </li>
            <li>
              Resource Group Name
            </li>
            <li>
              Power BI capacity Name
            </li>
            <li>
              Application ID
            </li>
            <li>
              Application Secret
            </li>
          </ul>
          <li>
            Theme data
          </li>
          <li>
            Power BI Workspaces
          </li>
          <li>
            Navigation
          </li>
          <ul>
            <li>
              Page name
            </li>
            <li>
              Workspace ID
            </li>
            <li>
              Report ID
            </li>
            <li>
              RLS Flag
            </li>
          </ul>
          <li>
            Security
          </li>
          <ul>
            <li>
              AD group names
            </li>
            <li>
              AD Users
            </li>
          </ul>
          <li>
            Permissions
          </li>
          <ul>
            <li>
              Navigation ID
            </li>
            <li>
              Group ID
            </li>
            <li>
              Role for RLS
            </li>
          </ul>
          <li>
            Standard configuration file that contains all Microsoft end points
          </li>
        </ul>
        <br>

        <p>
          Other users of the Services: Other users of our Services may provide information about you when they submit content through the Services. For example, you may be mentioned by someone else on a task, or a team member may upload content about you to The Reporting Hub. We also receive your email address from other Service users when they provide it to invite you to the Services. Similarly, an administrator may provide your contact information when they designate you as another administrator for an Enterprise or Unlimited Account .
        </p>
        <p>
          Other services you link to your account: We receive information about you when you or your administrator enable third-party apps or integrate or link a third-party service with our Services. For example, you or your administrator may also integrate our Services with other services you use, such as to allow you to access, store, share and edit certain content from a third-party through our Services. For example, you may authorize our Services to access and display files from a third-party document-sharing service within the Services interface. The information we receive when you link or integrate our Services with a third-party service depends on the settings, permissions and privacy policy controlled by that third-party service. You should always check the privacy settings and notices in these third-party services to understand what data may be disclosed to us or shared with our Services.
        </p>
        <p>
          The Reporting Hub's use of information received, and The Reporting Hub's transfer of information to any other app, from Google APIs will adhere to Google's Limited Use Requirements.
        </p>

        <br>
        <h5>Your Rights</h5>
        <br>
        <h6>Where and when is information collected?</h6>
        <br>
        <p>
          Opt-out: You may contact us anytime to opt-out of: (i) direct marketing communications; (ii) automated decision-making and/or profiling; (iii) our collection of sensitive personal data; or (iv) any new processing of your personal data that we may carry out beyond the original purpose. Please note that your use of some of the platform may be ineffective upon opt-out.
        </p>
        <p>
          Access: You may access the data we hold about you at any time by contacting us directly.
        </p>
        <p>
          Amend: You can also contact us to update or correct any inaccuracies in your personal data.
        </p>
        <p>
          Move: Your data is portable – i.e. you have the flexibility to move your data to other service providers as you wish.
        </p>
        <p>
          Erase and Forget: In certain situations, for example when the data we hold about you is no longer relevant or is incorrect, you can request that we erase your data.
        </p>
        <p>
          You may contact us at help@TheReportingHub.com or 4111 17th street SW Calgary, AB anytime for any other questions you may have about your personal data and our use of such personal data.
        </p>
        <br>

        <h5>Where will Data be Transferred to?</h5>
        <br>

        <p>
          Your data, including personal data that we collect from you, may be transferred to, stored at and processed by us and other third parties outside the country in which you reside, including, but not limited to the Canada and the United States, where data protection and privacy regulations may not offer the same level of protection as in other parts of the world. By using our platform, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this policy. Your team's project and report data will never be transferred to third parties. The only data we share with third parties is for analytics, error tracking, and marketing.
        </p>

        <br>
        <h5>How Long will Data be Stored?</h5>
        <br>
        <p>
          We will only retain your personal data as long as reasonably required for you to use the Site/Application(s) and/or to provide you with the Services unless a longer retention period is required or permitted by law (for example, for regulatory purposes).
        </p>
        <br>

        <h5>Do we Collect Information from Children under 16 years of age?</h5>
        <br>
        <p>
          We are committed to protecting the privacy of children. The Reporting Hub Service is not designed for or directed to children under the age of 16. We do not collect personally identifiable information from any person we actually know is under the age of 16.
        </p>
        <br>

        <h5>What do we do with the information we Collect?</h5>
        <br>
        <p>
          In general, we use the information collected to provide you with a great overall experience using the Reporting Hub Service, to help us understand who uses the Reporting Hub Service, for internal operations such as operating and improving the Reporting Hub Service, to contact you for customer service and billing purposes, and to facilitate the delivery of our advertising in some cases.
        </p>
        <p>
          We use your information to send you a welcome e-mail after you create an account, when you are invited to The Reporting Hub, or when you sign up for a demo or webinar. We also use your information to send other e-mail communication related to the Reporting Hub website. We always give you the option to unsubscribe in any email we send you.
        </p>
        <p>
          We may also use the information gathered to perform statistical analysis of user behavior or to evaluate and improve the Reporting Hub Service. We may link some of this information to personally identifiable information for internal purposes or to improve your experience with the Reporting Hub Service.
        </p>

        <br>
        <h5>When do we Disclose Information to Third Parties?</h5>
        <br>
        <p>
          Except as set forth in this Privacy Policy, we will not disclose any information to third parties outside of The Reporting Hub.
        </p>

        <br>
        <h5>Laws and Legal Rights</h5>
        <p>
          We may disclose your information (including personally identifiable information) if we believe in good faith that we are required to do so to comply with an applicable statute, regulation, rule or law, a subpoena, a search warrant, a court or regulatory order, or other valid legal process. We may disclose personally identifiable information in special circumstances when we have reason to believe that disclosing this information is necessary to identify, contact, or bring legal action against someone who may be violating our Terms of Service, to detect fraud, or to protect the safety and/or security of our users, the Reporting Hub Service, or the general public. We are subject to the investigatory and enforcement powers of the Competition Bureau of Canada.
        </p>
        <p>
          We also may be required to disclose an individual’s personal information in response to a lawful request by public authorities, including to meet national security or law enforcement requirements.
        </p>

        <br>
        <h5>Outside Contractors</h5>
        <br>
        <p>
          We may employ independent contractors, vendors, and suppliers (collectively, "Outside Contractors") to provide specific services and products related to the Reporting Hub Service, such as hosting, credit card processing and fraud screening, and mailing list hosting for the Reporting Hub Service. In the course of providing products or services to us, these Outside Contractors may have access to information collected through the Reporting Hub Service, including your personally identifiable information. We require that these contractors agree to (1) protect the privacy of your personally identifiable information consistent with this Privacy Policy (2) not use or disclose your personally identifiable information for any purpose other than providing us with the products or services for which we contracted or as required by law.
        </p>

        <br>
        <h5>Sale of Business</h5>
        <br>
        <p>
          We reserve the right to transfer information to a third party in the event of a sale, merger or other transfer of all or substantially all of the assets of The Reporting Hub or any of its Corporate Affiliates (as defined herein), or that portion of The Reporting Hub or any of its Corporate Affiliates to which the Service relates, or in the event that we discontinue our business or file a petition or have filed against us a petition in bankruptcy, reorganization or similar proceeding, provided that the third party agrees to adhere to the terms of this Privacy Policy.
        </p>

        <br>
        <h5>Affiliates</h5>
        <br>
        <p>
          We may disclose information (including personally identifiable information) about you to our Corporate Affiliates. For purposes of this Privacy Policy, "Corporate Affiliate" means any person or entity which directly or indirectly controls, is controlled by or is under common control with The Reporting Hub, whether by ownership or otherwise. Any information relating to you that we provide to our Corporate Affiliates will be treated by those Corporate Affiliates in accordance with the terms of this Privacy Policy.
        </p>

        <br>
        <h5>Does this Privacy Policy apply when I link to other websites or services?</h5>
        <br>
        <p>
          The Reporting Hub Service may provide you with access to other websites and services. Please be aware that we are not responsible for the privacy practices of any websites or services other than the Reporting Hub Service. We encourage you to read the privacy policies or statements of each and every such website and service. This Privacy Policy applies solely to information collected by us through the Reporting Hub Service.
        </p>

        <br>
        <h5>Is the information collected through the Reporting Hub Service secure?</h5>
        <br>
        <p>
          We take precautions to protect the security of your information. We have physical, electronic, and managerial procedures to help safeguard, prevent unauthorized access, maintain data security, and correctly use your information. However, neither people nor security systems are foolproof, including encryption systems. In addition, people can commit intentional crimes, make mistakes, or fail to follow policies. If applicable law imposes any non-disclaimable duty to protect your personally identifiable information, you agree that intentional misconduct will be the standards used to measure our compliance with that duty.
        </p>

        <br>
        <h5>Could my Information be Transferred to other Countries?</h5>
        <br>

        <p>
          Personally identifiable information collected on the Reporting Hub Service may be transferred from time to time to our offices or personnel, or to third parties, located throughout the world, and the Reporting Hub Service may be viewed and hosted anywhere in the world, including countries that may not have laws of general applicability regulating the use and transfer of such data. To the fullest extent allowed by applicable law, by using the Reporting Hub Service and submitting such information on it, you voluntarily consent to the trans-border transfer and hosting of such information. To the fullest extent allowed by applicable law, if you are a User accessing the Reporting Hub Service from a jurisdiction with laws or regulations governing personal data collection, use, and disclosure that differ from those of Canada, please be advised that all aspects of the Reporting Hub Service are governed by the internal laws of Canada and the Province of Alberta regardless of your location.
        </p>
        <p>
          The Reporting Hub does not sell the personal information we collect. We only share your personal information as described in this Privacy Policy.
        </p>

        <br>
        <h5>
          What Choices do I have regarding the Collection, Disclosure and Distribution of Personally Identifiable Information?
        </h5>
        <br>
        <p>
          Except as otherwise described in this Privacy Policy, we will only use personally identifiable information for the purposes described above, or as otherwise disclosed at the time we request such information from you. You must "opt in" and give us permission to use your personally identifiable information for any other purpose. You may also change your preference and "opt out" of receiving certain marketing communications from us by clicking the unsubscribe link included at the bottom of all such communications, or by contacting us via email.
        </p>

        <br>
        <h5>Do Not Track</h5>
        <br>
        <p>
          The term "Do Not Track" refers to an HTTP header offered by certain web browsers to request that websites refrain from tracking the user. We take no action in response to Do Not Track requests.
        </p>
        <p>
          Customers have the right to request the restriction of certain uses and disclosures of personally identifiable information as follows. You can contact us to (1) update or correct your personally identifiable information, (2) change your preferences with respect to communications and other information you receive from us. Such updates, corrections, changes, and deletions will have no effect on other information that we maintain, or information that we have provided to third parties in accordance with this Privacy Policy prior to such update, correction, change or deletion. To protect your privacy and security, we may take reasonable steps (such as requesting a unique password) to verify your identity before granting you profile access or making corrections. You are responsible for maintaining the secrecy of your unique password and account information at all times.
        </p>
        <p>
          You should be aware that it is not technologically possible to remove each and every record of the information you have provided to us from our system. The need to back up our systems to protect information from inadvertent loss means that a copy of your information may exist in a non-erasable form that will be difficult or impossible for us to locate. Promptly after receiving your request, all personal information stored in databases we actively use, and other readily searchable media will be updated, corrected, changed, or deleted, as appropriate, as soon as and to the extent reasonably and technically practicable.
        </p>
        <p>
          If you are an end user and wish to update, delete, or receive any information we have about you, you may do so by contacting the organization of which you are a customer.
        </p>

        <br>
        <h5>How will I know if there are any changes to this Privacy Policy?</h5>
        <br>
        <p>
          We may revise this Privacy Policy from time to time. We will not make changes that result in significant additional uses or disclosures of your personally identifiable information without notifying you of such changes via email. We may also make non-significant changes to this Privacy Policy that generally will not significantly affect our use of your personally identifiable information, for which an email is not required. We encourage you to check this page periodically for any changes. If any non-significant changes to this Privacy Policy are unacceptable to you, you must immediately contact us and, stop using the Reporting Hub Service until the issue is resolved. Your continued use of the Reporting Hub Service following the posting of non-significant changes to this Privacy Policy constitutes your acceptance of those changes.
        </p>

        <br>
        <h5>Whom do I Contact if I have any Privacy Questions?</h5>
        <br>
        <p>
          If you have any questions or comments about this Privacy Policy or feel that we are not abiding by the terms of this Privacy Policy, please contact our Privacy Agent in any of the following ways:
        </p>

        <p>
          – By email: help@TheReportingHub.com
        </p>
        <p>
          – By postal mail or courier:
        </p>
        <p>
          ATTN: Privacy Agent The Reporting Hub
        </p>
        <p>
          4111 17th Street SW
        </p>
        <p>
          Calgary, AB
        </p>

        <br>
        <p>
          Subject to the next paragraph, we ask that you not send or disclose to us any sensitive personal data (e.g., social security numbers, information related to racial or ethnic origin, political opinions, religion or other beliefs, health, biometrics or genetic characteristics, criminal background, or trade union membership) on or through [the Site/Applications(s)/Services] or otherwise.
        </p>
        <p>
          If you send or disclose any sensitive personal data to us when you submit user-generated content to [our Site/Application(s)/Services], you consent to our processing and use of such sensitive personal data in accordance with this policy. If you do not consent to our processing and use of such sensitive personal data, you must not submit such user generated content to our platform.
        </p>
        <p>
          By using the Reporting Hub Service, you signify your acceptance of this Privacy Policy. If you do not agree to this Privacy Policy, you should not use the Reporting Hub Service. Continued use of the Reporting Hub Service following the posting of changes to this Privacy Policy that do not significantly affect the use or disclosure of your personally identifiable information will mean that you accept those changes.
        </p>
      </div>
      <div class="modal-footer reportingHubModalFooter">
        <div class="w-100 mt-4">
          <button class="btn reportingHubButton" type="button" name="button">Sign Up
            <i class="fas fa-arrow-right ml-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
